<h1><%= link_to @presentation.name, @presentation %></h1>
<h2>Media file #<%= @media_file.id %></h2>

<% if @media_file.image? %>
  <p>
    <%= image_tag @media_file.file.url %>
  </p>
<% end %>

<p>
  <strong>File:</strong>
  <%= link_to @media_file.file.url, @media_file.file.url %>
</p>

<%= link_to 'Edit', edit_presentation_media_file_path(@presentation, @media_file) %> |
<%= link_to 'Back', edit_presentation_path(@presentation, anchor: 'media') %>
