<p id="notice"><%= notice %></p>

<p>
  <strong>Presentation:</strong>
  <%= @media_file.presentation.name %>
</p>

<% if @media_file.image? %>
  <p>
    <%= image_tag @media_file.file.url %>
  </p>
<% end %>

<p>
  <strong>File:</strong>
  <%= link_to @media_file.file.url, @media_file.file.url %>
</p>

<%= link_to 'Edit', edit_presentation_media_file_path(@presentation, @media_file) %> |
<%= link_to 'Back', edit_presentation_path(@presentation) %>
