<script type="text/json" id="linkable-content-areas-json"><%= raw @linkable_content_areas.to_json %></script>
<script type="text/json" id="linkable-content-blocks-json"><%= raw @linkable_content_blocks.to_json %></script>

<% presentation.plugins.map{|p|YAML.load(File.open("#{Rails.root}/lib/bodlanes-plugins/#{p}.yml"))}.select{|p|p['css_in_tinymce']}.each do |plugin| %>
  <% # TODO: refactor above %>
  <style type="text/css" class="css-in-tinymce">
    <%= raw plugin['css'] %>
  </style>
<% end %>

<%= form_for([presentation, content_block]) do |f| %>
  <% if content_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_block.errors.count, "error") %> prohibited this content_block from being saved:</h2>

      <ul>
      <% content_block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :content_area_id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :content_type %>
    <%= f.select :content_type, { 'WYSIWYG' => :wysiwyg, 'Raw HTML' => :raw } %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field timing-events">
    <%= f.label :timings %>
    <%= f.hidden_field :timings %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <script type="text/javascript">
    $(function(){
      tinymce.init({
        selector: '#content_block_content',
        <%= render 'shared/tinymce_init' %>
      });
    });
  </script>
<% end %>
