<script type="text/json" id="linkable-content-areas-json"><%= raw @linkable_content_areas.to_json %></script>
<script type="text/json" id="linkable-content-blocks-json"><%= raw @linkable_content_blocks.to_json %></script>

<% @plugins.select{|p|p['css_in_tinymce']}.each do |plugin| %>
  <% # TODO: refactor above %>
  <style type="text/css" class="css-in-tinymce">
    <%= raw plugin[:yaml]['css'] %>
  </style>
<% end %>

<%= form_for([presentation, content_block]) do |f| %>
  <% if content_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_block.errors.count, "error") %> prohibited this content_block from being saved:</h2>

      <ul>
      <% content_block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :content_area_id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :content_type %>
    <%= f.select :content_type, @content_types %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <% if content_block.content_type == 'raw' %>
      <%= f.text_area :content, class: 'code-editor', data: { 'code-lang' => 'html' } %>
    <% else %>
      <%= f.text_area :content %>
    <% end %>
  </div>

  <div class="tabs">
    <ul>
      <li><a href="#timing-events">Timings</a></li>
      <% @plugins.reject{|plugin|plugin[:yaml]['form_html'].blank?}.each_with_index do |plugin, i| %>
        <li><a href="#plugin-<%= i %>"><%= plugin[:name].split('/').last.humanize %></a></li>
      <% end %>
    </ul>

    <div id="timing-events" class="field timing-events">
      <%= f.label :timings %>
      <%= f.hidden_field :timings %>
    </div>

    <%= f.hidden_field :plugin_options %>
    <% @plugins.reject{|plugin|plugin[:yaml]['form_html'].blank?}.each_with_index do |plugin, i| %>
      <div id="plugin-<%= i %>" class="plugin-options">
        <%= raw plugin[:yaml]['form_html'] %>
      </div>
    <% end %>
  </div>

  <p class="actions">
    <%= f.submit %>
  </p>

  <script type="text/javascript">
    $(function(){
      var content_type = $('#content_block_content_type').val();

      if(content_type == 'wysiwyg'){
        // WYSIWYG editor
        tinymce.init({
          selector: '#content_block_content',
          <%= render 'shared/tinymce_init' %>
        });
      }

      // Plugin custom JS
      <% @plugins.reject{|plugin|plugin[:yaml]['editor_js'].blank?}.each do |plugin| %>
        <%= raw plugin[:yaml]['editor_js'] %>
      <% end %>
      // Plugin options - initial load
      var text = $('#content_block_plugin_options').val();
      if(text != ''){
        var json = JSON.parse($('#content_block_plugin_options').val());
        for(var i = 0; i < json.length; i++){
          $(".plugin-options [name='"+json[i].name+"']").each(function(){
            var t = $(this).attr('type');
            if(t == 'checkbox' || t == 'radio'){
              $(this).prop('checked', (json[i].value == '1'));
            } else if (t == 'hidden') {
              // leave alone
            } else {
              $(this).val(json[i].value);
            }
          })
        }
      }
      // Plugin options - subsequent saves
      save_content_block_plugin_options = function(){ $('#content_block_plugin_options').val(JSON.stringify($('.plugin-options input, .plugin-options textarea, .plugin-options select').serializeArray())); }
      $('.plugin-options').on('click change', 'input, textarea, select', save_content_block_plugin_options);
      save_content_block_plugin_options(); // save on load to establish any default values for current plugins
    });
  </script>
<% end %>
