<h1><%= link_to @presentation.name, @presentation %></h1>
<h2>Content block #<%= @content_block.id %></h2>

<%= render 'form', presentation: @presentation, content_block: @content_block %>

<%= link_to 'Show', [@presentation, @content_block] %> |
<%= link_to 'Back', presentation_content_blocks_path(@presentation, anchor: 'content') %>
