<%= form_for(presentation) do |f| %>
  <% if presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
      <% presentation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tabs">
    <ul>
      <li><a href="#meta">Meta</a></li>
      <li><a href="#plugins">Plugins</a></li>
      <li><a href="#css">CSS</a></li>
      <% if !presentation.new_record? %>
        <li><a href="#content">Content</a></li>
        <li><a href="#media">Media</a></li>
        <li><a href="#preview">Preview</a></li>
      <% end %>
    </ul>

    <div id="meta">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :template_id %>
        <%= f.select :template_id, (presentation.new_record? ? @templates : [presentation.template]).map{|t| [t.full_name, t.id]} %>
      </div>
    </div>

    <div id="plugins">
      <script type="application/json" id="known-plugins-json">
        <%= @known_plugins.to_json.html_safe %>
      </script>
      <div class="field">
        <%= f.label :plugins_enabled %>
        <%= f.text_field :plugins_enabled %>
      </div>      
    </div>

    <div id="css">
      <div class="field">
        <%= f.label :custom_css %>
        <%= f.text_area :custom_css, cols: 80, rows: 10, class: 'code-editor', data: { 'code-lang': 'css' } %>
      </div>      
    </div>

    <% if !presentation.new_record? %>
      <div id="content">
        <%= render 'content_blocks', presentation: presentation %>
      </div>
      <div id="media">
        <%= render 'media_files', presentation: presentation %>
      </div>
      <div id="preview">
        <p>
          <%= link_to 'Open in new window', preview_presentation_path(presentation), target: '_blank' %>
          |
          <%= link_to 'Inline Edit', preview_presentation_path(presentation, inline_edit: true) %>
        </p>
        <iframe width="<%= @presentation.template.screen_type.width / 2 %>" height="<%= @presentation.template.screen_type.height / 2 %>" src="<%= preview_presentation_path(@presentation) %>?zoom=<%= @presentation.template.screen_type.default_zoom.to_f / 2 %>" style="zoom: <%= @presentation.template.screen_type.default_zoom %>;"></iframe>
      </div>
    <% end %>
  </div>

  <p class="actions">
    <%= f.submit %>
  </p>

<% end %>
