<%= form_for(presentation) do |f| %>
  <% if presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
      <% presentation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :template_id %>
    <%= f.select :template_id, (presentation.new_record? ? @templates : [presentation.template]).map{|t| [t.full_name, t.id]} %>
  </div>

  <script type="application/json" id="known-plugins-json">
    <%= @known_plugins.to_json.html_safe %>
  </script>
  <div class="field">
    <%= f.label :plugins_enabled %>
    <%= f.text_field :plugins_enabled %>
  </div>

  <div class="field">
    <%= f.label :custom_css %>
    <%= f.text_area :custom_css, cols: 80, rows: 10 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% if !presentation.new_record? %>
    <%= render 'content_blocks', presentation: presentation %>
    <%= render 'media_files', presentation: presentation %>
  <% end %>

<% end %>
