<h1><%= link_to @presentation.name, @presentation %></h1>

<ul class="breadcrumbs">
  <li><%= link_to @presentation.name, @presentation %></li>
  <li><%= link_to '', '#', class: 'breadcrumb-tab-current' %></li>
</ul>

<%= render 'form', presentation: @presentation %>

<%= link_to 'Preview', preview_presentation_path(@presentation) %> |
<%= link_to 'Inline Edit', preview_presentation_path(@presentation, inline_edit: true) %> |
<%= link_to 'Download', download_presentation_path(@presentation) %> |
<%= link_to 'Show', @presentation %> |
<%= link_to 'Back', presentations_path %>
