<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Create New Presentation', new_presentation_path %>
</p>

<div id="presentations-list">
  <% @presentations.each do |presentation| %>
    <div class="presentation">
      <iframe width="<%= presentation.template.screen_type.width / 2 %>" height="<%= presentation.template.screen_type.height / 2 %>" src="<%= preview_presentation_path(presentation) %>?zoom=0.25" style="zoom: 0.5;"></iframe>
      <h2><%= presentation.name %></h2>
      <ul class="stats">
        <li><%= presentation.template.try(:full_name) %></li>
        <li><%= pluralize(presentation.content_blocks.count, 'content block') %></li>
        <li><%= pluralize(presentation.plugins_enabled.length, 'plugin') %> enabled</li>
      </ul>
      <ul class="actions">
        <li><%= link_to 'Show', presentation %></li>
        <li><%= link_to 'Edit', edit_presentation_path(presentation) %></li>
        <li><%= link_to 'Destroy', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  <% end %>
</div>
