<p id="notice"><%= notice %></p>

<p>
  <strong>Screen type:</strong>
  <%= @template.screen_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @template.code %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
