<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title><%= @presentation.name %></title>
  <style>
    <%= File::read("#{Rails.root}/app/views/output-templates/bodlanes-common.css").html_safe %>
    <%= File::read("#{Rails.root}/app/views/output-templates/heritage-fs/heritage-fs.css").html_safe %>
    <%= @presentation.plugin_css.html_safe %>
    <%= @presentation.custom_css.html_safe %>
  </style>
  <%= csrf_meta_tags if params[:inline_edit] %>
</head>
<body style="zoom: <%= params[:zoom] || 1 %>">
  <% @content_areas.each do |ca| %>
    <div class="content-area <%= ca.name.parameterize %>" data-id="<%= ca.id %>" data-name="<%= ca.name %>"></div>
  <% end %>

  <%= presentation_partial 'output-templates/_presentation-json.html.erb' %>
  <script>
    <%= presentation_partial 'output-templates/_core-js.html.erb' %>
    <%= @presentation.plugin_js %>
  </script>

  <%= render('presentations/inline_editor') if params[:inline_edit] %>
</body>
</html>
