<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @screen_type.name %>
</p>

<p>
  <strong>Width:</strong>
  <%= @screen_type.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @screen_type.height %>
</p>

<%= link_to 'Edit', edit_screen_type_path(@screen_type) %> |
<%= link_to 'Back', screen_types_path %>
