<!DOCTYPE html>
<html>
  <head>
    <title>Bodlanes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', '//cdn.tinymce.com/4/tinymce.min.js' %>
  </head>

  <body>
    <header>
      <a href="/">
        <hgroup>
          <h1>Bodlanes</h1>
          <h2>Simplified digital signage</h2>
        </hgroup>
      </a>
    </header>

    <nav>
      <ul>
        <li><%= link_to "Presentations", presentations_path %></li>
        <li><%= link_to "Templates", screen_types_path %></li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
